[Unit]
Description=sqvpn
After=network.target

[Service]
User=root
WorkingDirectory=/var/opt/sqvpn
ExecStart=/usr/local/bin/sqvpn-start.sh
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
